@model TranTienPhat_2122110302.DB.Brand

@{
    ViewBag.Title = "Details";
}
<div class="content-wrapper">
    <div class="container mt-4">
        <h2 class="mb-4">Details</h2>

        <div class="card p-4">
            <h4 class="card-title mb-3">Brand</h4>
            <hr />

            <dl class="row mb-4">
                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Image)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Image)
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Show)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Show)
                </dd>
            </dl>

            <div class="d-flex justify-content-end">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary me-2" }) |
                @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>

</div>